.navbar {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;  /* Centra verticalmente */
    position: fixed;  /* Cambiado a fixed para que quede al final de la página */
    bottom: 0;
    left: 0;
    width: 100%;  /* Ocupa todo el ancho */
    padding: 10px;  /* Espacio alrededor del contenido */
  }
  
  .navContainer {
    display: flex;
    justify-content: space-evenly;  /* Centra horizontalmente */
    width: 30%;
    margin:auto;
    background-color: rgba(114, 191, 255, 0.411);

    border-radius: 40px;
  }
  